BasedOnStyle: Google 
IndentWidth: 4
TabWidth: 4
SortIncludes: false
ColumnLimit: 200

AlwaysBreakTemplateDeclarations: Yes
AllowShortFunctionsOnASingleLine: Empty

AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBraces: Linux
AllowAllArgumentsOnNextLine: true
